# Ignore everything
*

# But not these files...
!.gitignore
!README.md
!web_server.py
!form.html
!show_records.html
!database.py
!user_records.db

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt